.body{
    margin: 0px;
    padding: 0px;
}
#gridContainer{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.row{
    background-color: rgba(255, 8, 8, 0.253);
    display: inline-flex;
}

.pixel{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    display: inline-flex;
    border: 1px solid black;
}