body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;

}
#gridContainer{
    border: 1px solid black;
}
.row{
    display: flex;
    flex-direction: row;
}

.pixel{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    display: inline-flex;
    
}

.pixel:hover{
    background-color: rgba(0, 0, 0, 0.158);
}
.pixelPressed{
    background-color: black;
}